# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv

# Data files

# PyCharm
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Tutorials
#tutorials
#data/tutorials
#figs/tutorials
#notebooks/tutorials